.home_container {
    /*background-image: url("https://fondosmil.com/fondo/1945.jpg");*/
   background-image: url("https://static.vecteezy.com/system/resources/previews/002/476/509/non_2x/child-background-with-rainbow-sun-cloud-kite-and-balloon-free-vector.jpg");
    /*background-image: url("https://img.freepik.com/foto-gratis/fondo-infantil-coloridas-nubes-planas_360032-1574.jpg?w=2000");*/
    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items:  center;
    object-fit: cover;
    
    
}





